<div>

AGOSTO 2019/ ACTUALIDAD
TECNICATURA SUPERIOR EN PROGRAMACIÓN 
UTN – Facultad Regional Mendoza
19/21 ASIGNATURAS APROBADAS

2021/2022
"ARGENTINA PROGRAMA" (Ministerio de Desarrollo Productivo Argentina y CESSI)
-Desarrollador FullStack Jr.  
- 1° Etapa: "Sé Programar" : finalizada.
- 2° Etapa: "Yo Programo": finalizada.

TALLER SCRUM FUNDATIONS - CertiProf

2014/2017
LICENCIATURA EN NUTRICIÓN 
Universidad Maza
24 ASIGNATURAS APROBADAS
Voluntaria en "Manos a la Obra" 2015 y 2016.

2012/2013
DISEÑO GRAFICO
Universidad Nacional de Cuyo
8 ASIGNATURAS APROBADAS
</div>