<div>
    <section class="d-flex flex-column align-items-center justify-content-center">
        <div>

            Abril 2022 - Actualidad.
            Prácticas Profesionales-(Pasantías part-time)
            MIPIP - Gobierno de Mendoza.
            -Analisis y Desarrollo de Sistemas.
            -Uso de .NET, C#, React, MySQL, metodolgías ágiles


            Marzo 2015 - Octubre 2021
            Atención de Local de indumentaria.
            -Atención al cliente, Caja, Manejo de Posnet y Sistema Lince-Indumentaria, Stock y tareas varias.

        </div>
    </section>
</div>