#logoAP {
    width: 150px;
}
#logoINTI{
    width: 150px;
}
#logoGITHUB,
#logoLINK
{
    float:inline-end;
    height: 50px;
    width: 50px;
}

#header {
    background: rgb(83, 86, 87);
    position: fixed;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px;
    min-width: 100%;
}