<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

    <span class="logo d-none d-sm-inline">
        <img src="../../../assets/images/APLogo.png" id="logoAP">
    </span>

    <span class="logo d-none d-sm-inline">
        <img src="../../../assets/images/LogosInti.png" id="logoINTI">
    </span>
    <div class="flex align-items-right">
        <span><a class="Header-link" href="https://github.com/emiartola" target=”_blank”>
            <img src="../../../assets/images/GithubLogo.png" id="logoGITHUB"> </a></span>
       
        <a class="Header-link" href="https://www.linkedin.com/in/emiartola" target=”_blank”>
            <img src="../../../assets/images/logo-linkedin-icon-1536.png" id="logoLINK">
        </a>
    </div>
</nav>