<div class="container">
    <section class="d-flex flex-column justify-content-center">
        <div class="img">
            <img src='../../../assets/images/imagenPerfil.jfif' class='imgRedonda' />
        </div>
        <div class="row">           
            <div clas="col-12 col-xl-8">
                <br>
                <h3>Sobre mí </h3>          
                Estoy finalizando la Tecnicatura en Programación en la Universidad
                Tenológica Nacional de Mendoza y
                cursé el Plan Argentina Programa. Me considero una persona activa, versátil, analítica, comprometida,
                siempre con ganas de seguir
                aprendiendo, de resolver problemas y con mucho deseo de aportar a proyectos reales".
            </div>
            <div class="col-12 col-sm-4">
                <button class="btn"><img src="../../../assets/images/editar.png" class="iconoRedondo" ></button>
                <button class="btn"> <img src="../../../assets/images/eliminar.png" class="iconoRedondo" ></button>
            </div>
        </div>
        <div class="row">
            <p>
                Tecnologías y lenguajes utilizados:
                <li>.NET</li>
                <li> C# </li>
                <li> React </li>
                <li> Java </li>
                .NET, C#, React, Java, Angular, TypeSript,
                NodeJs, JavaScript, HTML, CSS, MySQL,
                Postman, MongoDB, Git, Github,
                Scrum, POO, APIRest.
            </p>
        </div>
        <div class="row">
            Datos de contacto
            emiartola@gmail.com
        </div>
    </section>
</div>