<p> ¡Hola!
    Soy Emi, estudiante de Programación. 
    Estoy por finalizar la Tecnicatura en Programación en la UTN de Mendoza y cursé el Plan Argentina Programa.
    Me considero una persona activa, versátil, analítica, comprometida, siempre con ganas de seguir aprendiendo, 
    de resolver problemas y deseo de aportar a proyectos reales".


    .NET, C#, React, Java, Angular, TypeSript, 
    NodeJs, JavaScript, HTML, CSS, MySQL, 
    Postman, MongoDB, Git, Github, 
    Scrum, POO, APIRest.

    Datos de contacto
    2616136053
     emiartola@gmail.com
     LinkedIn:  /in/emiartola</p>
