<div class="container">
    <section class="d-flex flex-column justify-content-center">
        <div class="">
            <img src='../../../assets/images/imagenPerfil.jfif' class='imgRedonda' />
        </div>
        <div>

            <h4 class="justify-content-between">Estoy finalizando la Tecnicatura en Programación en la Universidad
                Tenológica Nacional de Mendoza y
                cursé el Plan Argentina Programa. Me considero una persona activa, versátil, analítica, comprometida,
                siempre con ganas de seguir
                aprendiendo, de resolver problemas y con mucho deseo de aportar a proyectos reales".</h4>
        </div>
        <div>
            <p>
                Tecnologías y lenguajes utilizados:
                .NET, C#, React, Java, Angular, TypeSript,
                NodeJs, JavaScript, HTML, CSS, MySQL,
                Postman, MongoDB, Git, Github,
                Scrum, POO, APIRest.
        </div>
        <div>
            Datos de contacto
            emiartola@gmail.com

            <span>
                <a class="Header-link" href="https://github.com/emiartola" target=”_blank”>
                    <img src="../../../assets/images/GithubLogo.png" id="logoGITHUB"> </a>

                <a class="Header-link" href="https://www.linkedin.com/in/emiartola" target=”_blank”>
                    <img src="../../../assets/images/logo-linkedin-icon-1536.png" id="logoLINK">
                </a>
            </span>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="http://localhost:4200/educacion"> EDUCACIÓN </a></li>
                    <li class="breadcrumb-item"><a href="http://localhost:4200/experiencia"> EXPERIENCIA </a> </li>
                    <li class="breadcrumb-item"><a href="#"> DATOS DE CONTACTO </a></li>
                </ol>
            </nav>
        </div>
    </section>
</div>